# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform/.terraform/
eks-todo-app/terraform/.terraform/
terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db